name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "latest"
      
      - name: Build Package
        run: uv build
        
      - name: Publish to PyPI
        run: uv publish --token ${{ secrets.PYPI_TOKEN }}
